<!-- <app-web-component-wrapper
  [componentName]="'user-selector'"
  [inputs]="{}"
  [outputs]="{}"
></app-web-component-wrapper> -->



<!-- 
<app-user-avatar-wrapper
  [remoteEntry]="remoteEntryUrl"
  [remoteName]="'au'" 
  [name]="'1John Doe'"
  [avatarUrl]="'https://example.com/avatar.jpg'"
  [size]="'lg'">
</app-user-avatar-wrapper> -->

<!-- <app-user-avatar-wrapper-func
  [remoteEntry]="remoteEntryUrl"
  [exposedModule]="'./UserAvatarRemoteFunc'" 
  [remoteName]="'au'" 
  [name]="'John Doe'"
  [avatarUrl]="'https://example.com/avatar.jpg'"
  [size]="'lg'">
</app-user-avatar-wrapper-func>
 -->

<!-- <app-user-avatar-wrapper-module
  [remoteEntry]="remoteEntryUrl"
  [exposedModule]="'./UserAvatarModule'" 
  [remoteName]="'au'" 
  [name]="'John Doe'"
  [avatarUrl]="'https://example.com/avatar.jpg'"
  [size]="'lg'">
</app-user-avatar-wrapper-module> -->


<div class="host-container">
  <div class="routerDiv">
    <router-outlet></router-outlet>
  </div>
  
  <div class="navDiv">
    <div *ngIf="!isHomeRoute()" class="productNavContainer" #productNavContainer appGroupButtons></div>
  
    <div class="mainButtons" [class.wide]="isHomeRoute()">
      @if (productMainButtons.length) {
        @for (item of productMainButtons; track item) {
          <app-product-card 
            [projectId]="item.projectId"
            [state]="item.buttonState"
            [ngClass]="item.buttonState"
            [name]="item.buttonName"
            [title]="item.buttonTitle"
            [imgSrcBaseUrl]="item.imgSrcBaseUrl"
            [routerPath]="item.routerPath"
            (buttonClick)="onBtnClick($event)"
          ></app-product-card>
        }
      }
       
    </div>
  </div>
  <div class="bottomButtonsContainer">
    <div gui type="user_avatar"
      [inputs]="{}"
      [outputs]="{}"
    ></div>
    <i class="homeBtn mu mu-home" (click)="goHome()"></i>
  </div> 
</div>
<!-- <app-web-component-wrapper
  [componentName]="'user-avatar'"
  [inputs]="{
    name: 'artyom antoshkin',
    avatarUrl: 'user.avatar'
  }"
></app-web-component-wrapper> -->
<!-- <app-user-avatar [name]="'artyom antoshkin'" [avatarUrl]="'user.avatar'"></app-user-avatar> -->

<app-scaffold></app-scaffold>


<div class="scaffold hidde">
  <a [routerLink]="['/note/keyword-list']">{{ 'key-list' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/note/keyword-edit']">{{ 'key-edit' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/faq/faq']">{{ 'faq' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/faq/ticket-create']">{{ 'create' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/test']">{{ 'test' }}</a>
  {{ ' | '}}
  <a (click)="check()">{{ 'check' }}</a>
  {{ ' | '}}
  <a (click)="tick()">{{ 'tick' }}</a>
  {{ ' | '}}
  <a (click)="send2au()">{{ 'send2au' }}</a>
  {{ ' | '}}
  <a (click)="go_au()">{{ 'go_au' }}</a>
  {{ ' | '}}
  <a (click)="go_faq()">{{ 'go_faq' }}</a>      
  {{ ' | '}}
  <a (click)="loadFaq5()">{{ 'refresh faq module' }}</a>
  {{ ' | '}}
  <a [routerLink]="['/doro/event-create']">{{ 'event-create' }}</a>
  
</div>

