.row {
    padding-top: 10px;
    padding-left: 13px;
    display: grid;
    grid-template-columns: 20px 250px 150px 150px 1fr;

    &>div:nth-child(5n) {
        color: green;
    }
}

.container {
    // position: relative;
    // top: -230px;
    // z-index: 9;
    // background-color: #020216ba;
    // display: block;
    height: calc(100vh - 580px);
    overflow-y: auto;
    padding-bottom: 30px;
    box-sizing: border-box;
    font-size: 14px;
}